<h1><%= @tasks.id  %> - <%= @task.name  %></h1>

<ul>
  <li>Description : <%= @task.description %></li>
  <li>Status : <%= @task.status %></li>
  <li>Priorité : <%= @task.priority %></li>
</ul>
<%= link_to "Revenir à l'accueil", root_path %>