<h1><%= @tasks.id  %> - <%= @tasks.name  %></h1>

<ul>
  <li>Description : <%= @tasks.description %></li>
  <li>Status : <%= @tasks.status %></li>
  <li>Priorité : <%= @tasks.priority %></li>
</ul>
<%= link_to "Revenir à l'accueil", root_path %>